/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* target the html element body */
body{
	/*background-color: skyblue;*/
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; 
    color: rgb(51,51,51); /* off white */

}

/* end of body styling*/


/* target html element H1*/
h1{
	font-size: 50px;
	/*background-color: rgba(51,51,51,0.5); /* #333; off black */*/
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
	font-family: 'Raleway', sans-serif;

}
/* end H1*/
/* target html element H2*/
h2{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	/*background-color: rgba(51,51,51,0.5); /* #333;off black */*/
	/*margin:10px;*/ /* adds space outside of the elements */
	padding: 10px;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
}
/* end H2*/

/* target element with the class bio*/
.bio{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   /*background-color: rgba(51,51,51,0.5);*/
   line-height: 1.75;
   margin: 0 auto;
   padding: 1;
   letter-spacing: 2px;
}

/* target element with the id me*/
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(251, 250, 56,0.5);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}
/* end me*/

/* target element with the class container*/
.container{
	width:500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/
}
/* end container*/

.btn{
	height: 50px;
	width: 200px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
   	font-size: 18px;
   	border: none;
   	border-radius: 50px;
   	margin-top: 50px;
}
.btn-blue{
	background-color: rgba(0, 153, 204, 0.75);
	color: #f2f2f2;
}